<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Menu Item</title>
  </head>
  <body>
    <h1 class="header">Edit {{menuitem.name}} For {{restaurant.name}}</h1>
    <form class="new-menu-item" action="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" method="post">
      <p>Name: </p>
        <input type="text" name="name" placeholder="{{menuitem.name}}">

      <p>Price: </p>
        <input type="text" name="price" placeholder="{{menuitem.price}}">

      <p>Description: </p>
        <input type="text" name="description" placeholder="{{menuitem.description}}">

      <p>Course: </p>
        <input type="radio" name="course" value="Appetizer"> Appetizer <br>
        <input type="radio" name="course" value="Entree"> Entree <br>
        <input type="radio" name="course" value="Dessert"> Dessert <br>
        <input type="radio" name="course" value="Beverage"> Beverage
    <br><br>
    <input type="submit" value="Create">
    <a class="link" href="/restaurants/{{restaurant.id}}/menu">Return To {{restaurant.name}}'s Menu</a>
    </form>
  </body>
</html>
