<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Restaurant</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <form class="" action="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}" method="post">
      <h1 class="header">Edit {{restaurant.name}}</h1>
      <p>Name: </p>
        <input type="text" name="name" placeholder="{{restaurant.name}}">
      <br><br>
      <input type="submit" value="Edit">
      <a class="link" href="/restaurants/">Cancel</a>
    </form>
  </body>
</html>
