<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Menu Item</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <h1 class="header">New Item For {{restaurant.name}}</h1>
    <form class="new-menu-item" action="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" method="post">
      <p>Name: </p>
        <input type="text" name="name" placeholder="Enter Item Name">

      <p>Price: </p>
        <input type="text" name="price" placeholder="Enter Item Price">

      <p>Description: </p>
        <input type="text" name="description" placeholder="Enter Item Description">

      <p>Course: </p>
        <input type="radio" name="course" value="Appetizer"> Appetizer <br>
        <input type="radio" name="course" value="Entree"> Entree <br>
        <input type="radio" name="course" value="Dessert"> Dessert <br>
        <input type="radio" name="course" value="Beverage"> Beverage
    {% if error %}
    <br><br>
    <span style="color: red;">{{error}}</span>
    {% endif %}
    <br><br>
    <input type="submit" value="Create">
    <a class="link" href="/restaurants/">Return To Restaurants</a>
    </form>
  </body>
</html>
